<network>
  <name>private</name>
  <bridge name="virbr1" />
  <ip address="192.168.152.1" netmask="255.255.255.0">
    <dhcp>
      <range start="192.168.152.2" end="192.168.152.254" />
      <bootp file='pxelinux.0' />
    </dhcp>
  </ip>
</network>